# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio 2015/2017 cache/options directory
.vs/
# Uncomment if you have tasks that create the project's static files in wwwroot
#wwwroot/

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Entity Framework
*.db
*.db-*
Migrations/

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# Node.js Tools for Visual Studio
.ntvs_analysis.dat
node_modules/

# Visual Studio 6 build log
*.plg

# Visual Studio 6 workspace options file
*.opt

# Package manager restore files
**/package-lock.json
**/yarn.lock

# MacOS
.DS_Store